
<body>
  <!-- Navbar -->
  <app-nav></app-nav>

  <main>
    <div class="container side-menu">
      <app-side></app-side>
      <div class="middle">
        <!-- Stories -->
        <div class="stories">
          <div class="story">
            <div class="profile-picture">
              <img src="https://source.unsplash.com/75x75/?male-profile" />
            </div>
            <p class="name">Your Story</p>
          </div>
        </div>
        <form class="create-post w-100">
          <app-create-post></app-create-post>
        </form>
        <!-- Feeds -->
        <div class="feeds">
          <div class="feed" *ngFor="let post of postData">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src={{post.image_url}}
                  />
                </div>
                <div class="info">
                  <h3>{{post.user_name}}</h3>
                  <small>India, {{post.created_at | date}}</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src={{post.media_url}} />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <a><i class="fa-regular fa-heart"></i></a>
                <a><i class="fa-regular fa-comment"></i></a>
                <a><i class="fa-regular fa-paper-plane"></i></a>
              </div>
              <div class="bookmark-btn">
                <a><i class="fa-regular fa-bookmark"></i></a>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>{{post.no_of_likes}} others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Bryan Price</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all {{post.no_of_comments}} comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-7"
                  />
                </div>
                <div class="info">
                  <h3>Abby Mcmillan</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?photo" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Abby Mcmillan</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-6"
                  />
                </div>
                <div class="info">
                  <h3>Elijah Giles</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img
                src="https://source.unsplash.com/250x155/?socialmedia post"
              />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Elijah Giles</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-5"
                  />
                </div>
                <div class="info">
                  <h3>Moshe Lynch</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?nature" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Moshe Lynch</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-4"
                  />
                </div>
                <div class="info">
                  <h3>Ronald Odom</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?adventure" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Ronald Odom</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-3"
                  />
                </div>
                <div class="info">
                  <h3>Abraham Warner</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?travel" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Abraham Warner</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-2"
                  />
                </div>
                <div class="info">
                  <h3>Raees Fischer</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?streetfood" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Raees Fischer</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-1"
                  />
                </div>
                <div class="info">
                  <h3>Noor Parks</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?friends" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Noor Parks</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
          <div class="feed">
            <div class="head">
              <div class="user">
                <div class="profile-picture">
                  <img
                    src="https://source.unsplash.com/75x75/?profile-photo-10"
                  />
                </div>
                <div class="info">
                  <h3>Eddie Sparks</h3>
                  <small>India, 12 minutes ago</small>
                </div>
              </div>
              <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
            <div class="photo">
              <img src="https://source.unsplash.com/250x155/?pets" />
            </div>
            <div class="action-btns">
              <div class="interaction-btn">
                <span><i class="fa-regular fa-heart"></i></span>
                <span><i class="fa-regular fa-comment"></i></span>
                <span><i class="fa-regular fa-paper-plane"></i></span>
              </div>
              <div class="bookmark-btn">
                <span><i class="fa-regular fa-bookmark"></i></span>
              </div>
            </div>
            <div class="liked-by">
              <span
                ><img src="https://source.unsplash.com/50x50/?human"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?humans"
              /></span>
              <span
                ><img src="https://source.unsplash.com/50x50/?male"
              /></span>
              <p>Liked by <b>Rihanna Marsh</b> and <b>523 others</b></p>
            </div>
            <div class="caption">
              <p>
                <b>Eddie Sparks</b> Lorem ipsum dolor sit amet.
                <span class="hashtag">#UniVerse</span>
              </p>
            </div>
            <div class="comments text-muted">View all 120 comments</div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="notifications">
          <div class="heading">
            <h4>Notifications</h4>
          </div>
          <!-- Messages -->
          <div class="notification">
            <div class="profile-picture">
              <img src="https://source.unsplash.com/75x75/?young-boy" />
            </div>
            <div class="notification-body">
              <b>Haaris Harrington</b>
              <p>accepted your friend request</p>
              <small class="text-muted">yesterday</small>
            </div>
          </div>
          <div class="notification">
            <div class="profile-picture">
              <img src="https://source.unsplash.com/75x75/?indian-man" />
            </div>
            <div class="notification-body">
              <b>Edie Daniel</b> <p>accepted your friend request</p>
              <small class="text-muted">yesterday</small>
            </div>
          </div>
          <div class="notification">
            <div class="profile-picture">
              <img src="https://source.unsplash.com/75x75/?male-doctor" />
            </div>
            <div class="notification-body">
              <b>Autumn Ali</b> <p>accepted your friend request</p>
              <small class="text-muted">2 days ago</small>
            </div>
          </div>
          <div class="notification">
            <div class="profile-picture">
              <img src="https://source.unsplash.com/75x75/?bike" />
            </div>
            <div class="notification-body">
              <b>Adrian Schultz</b> <p>accepted your friend request</p>
              <small class="text-muted">2 days ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

