
<div class="left">
  <a href="profile.html" class="profile">
    <div class="profile-picture">
      <img src="https://source.unsplash.com/75x75/?male-profile" />
    </div>
    <div class="handle">
      <h4>Joshua Wells</h4>
      <p class="text-muted">@joswells</p>
    </div>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="#" class="menu-items active"
      ><span><i class="fa-solid fa-house"></i></span>
      <h3>Home</h3></a
    >
    <a href="#" class="menu-items"
      ><span><i class="fa-solid fa-compass"></i></span>
      <h3>Explore</h3></a
    >
    <a href="#" class="menu-items" id="notifications"
      ><span
        ><i class="fa-solid fa-bell">
          <small class="notification-count">4</small></i
        ></span
      >
      <h3>Notifications</h3>
    </a>
    <a href="chat.html" class="menu-items" id="messages-notifications"
      ><span
        ><i class="fa-solid fa-envelope">
          <small class="notification-count">3</small></i
        ></span
      >
      <h3>Messages</h3></a
    >
    <a href="#" class="menu-items"
      ><span><i class="fa-solid fa-bookmark"></i></span>
      <h3>Bookmarks</h3></a
    >
    <a [routerLink]=" ['/followers-following']" class="menu-items"
    ><span><i class="fa-solid fa-user-group"></i></span>
    <h3>Friends</h3></a
  >
    <a href="#" class="menu-items"
      ><span><i class="fa-solid fa-chart-simple"></i></span>
      <h3>Analytics</h3></a
    >
    <a href="#" class="menu-items" id="theme"
      ><span><i class="fa-solid fa-palette"></i></span>
      <h3>Customize</h3></a
    >
    <a href="index.html" class="menu-items"
      ><span><i class="fa-solid fa-gear"></i></span>
      <h3>Settings</h3></a
    >
  </div>
  <!-- CTA -->
  <label class="btn btn-primary" for="create-post">Create Post</label>
</div>
